* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  margin: 2rem;
  padding: 0;
  line-height: 25px;
}

main {
  margin: 2rem;
}

header {
  margin-bottom: 2rem;
}

img {
  height: auto;
  width: 400px;
}

.categoryname {
  color: #d8d8d8cc;
  margin-bottom: 1rem;
}

.productpath {
  list-style-type: none;
  display: flex;
  align-content: flex-start;
  word-spacing: 3px;
}

.productpath a {
  color: #acababcc;
  font-family: "elza-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.productlist_grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 3rem;
}

.productlist_grid article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-content: center;
}

.productlist_grid article a {
  text-decoration: none;
  color: royalblue;
  font-family: "elza-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.productlist_grid article.discountitem .procent {
  display: flex;
  justify-content: space-between;
}

.procent p:last-child {
  background: red;
  padding: 0.2rem;
}

p {
  font-family: "elza-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header li {
  overflow: hidden;
  display: inline-block;
  list-style: none;
  text-align: left;
}

.nav {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 3rem;
  font-family: "blenny", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-family: "elza-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  font-family: "elza-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 2rem;
}

ul {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "elza-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05rem;
  word-spacing: 1rem;
}

ol {
  font-size: 1rem;
  font-family: "elza-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.list ol {
  list-style-type: none;
}

.list li {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media screen and (min-width: 800px) {
  .list ol {
    column-count: 2;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 20px 10px;
  }

  .productlist_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
}
